@import "bootstrap";


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #ffff;
  text-decoration: none;
}

.center {
  text-align: center;
  margin: auto; 
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
  padding-right: 20px;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

div.alert {
  text-align: center;
  margin: auto;
  margin-top: 15px; 
}


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px; 
  margin-top: 10px; 
}

input {
  height: auto !important;
}

form {
  margin-top: 18%;
  margin-bottom: 18%;
}

