<header class="navbar navbar-inverse navbar-static-top "> 
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Help me find ", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "На главную", root_path %></li>
          <li><%= link_to "Помощь",    '#' %></li>
          <li><%= link_to "Войти", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
